.AddPostForm {
  margin-bottom: 20px;
  background-color: #edeeef;
  border-radius: 10px;
  padding: 10px;
}

.AddPostForm_text {
  color: coral;
}

.AddPostForm_txtarea {
  display: block;
  width: 675px;
  height: 60px;
  outline: none;
  resize: none;
  margin: 10px auto;
}

.AddPostForm_input {
  width: 60px;
  height: auto;
}

.AddPostForm_sub {
  margin: 0 0 0 2px !important;
}
