.PostsItem {
  display: flex;
  position: relative;
  margin: 10px 0;
  padding: 10px 10px 30px 10px;
  background-color: #edeeef;
  border-radius: 10px;
}

.PostsItem:last-child {
  margin: 10px 0 0 0;
}

.PostsItem_title {
  position: relative;
  display: flex;
  flex-direction: row;
}

.PostItem_main {
  width: 590px;
}

.PostItem_delete {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 6px;
  right: -5px;
  background-color: red;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

.PostItem_delete:hover {
  background-color: crimson;
}

.PostsItem_pic {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin: 10px 0 10px 10px;
}

.PostItem_name {
  font-weight: bold;
  margin: 0 10px;
}

.PostItem_date {
  color: #6d6d6d;
}

.PostsItem_content {
  margin: 10px 0 10px 10px;
}

.PostItem_btn {
  cursor: pointer;
  margin: 0 5px;
  min-width: 78px;
  padding: 3px;
  outline: none;
  border: none;
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out;
}

.PostItem_btn_more {
  background-color: #1cbf1c;
}

.PostItem_btn_less {
  background-color: #ef5d5d;
}

.PostItem_btn_more:hover,
.PostItem_btn_less:hover {
  opacity: 0.6;
}