.PostsItem {
  display: flex;
  position: relative;
  margin: 10px 0;
  background-color: #edeeef;
  border-radius: 10px;
}

.PostsItem_title {
  position: relative;
  display: flex;
  flex-direction: row;
}

.PostItem_main {
  width: 590px;
}

.PostItem_delete {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 6px;
  right: 12px;
  background-color: red;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

.PostItem_delete:hover {
  background-color: crimson;
}

.PostsItem_pic {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin: 10px 0 10px 10px;
}

.PostItem_name {
  font-weight: bold;
  margin: 0 10px;
}

.PostItem_date {
  color: #6d6d6d;
}

.PostsItem_content {
  margin: 10px 0 10px 10px;
}
