.Comment {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 5px auto;
  width: 96%;
  padding: 5px;
  background-color: #d6d7d8;
  border-radius: 10px;
}

.Comment:last-child {
  margin: 5px auto 0 auto;
}

.Comment_author {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  text-align: center;
}

.Comment_avatar {
  width: 60px;
  height: 60px;
  border-radius: 60px;
}

.Comment_content {
  position: relative;
  width: 100%;
}

.Comment_text {
  margin-bottom: 26px;
}

.Comment_date {
  display: block;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.Comment_delete {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 6px;
  left: 6px;
  background-color: red;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.Comment_delete:hover {
  background-color: crimson;
}
